[Unit]
Description=nginx

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull sinistersig/directory
ExecStart=/usr/bin/docker run --rm --name directory -p 5000:5000 sinistersig/directory
ExecStop=/usr/bin/docker kill sinistersig/directory

[X-Fleet]
X-Conflicts=directory-app.service
